<table class="table table-striped table-bordered table-sortable table-paginable table-searchable table-sizable">
	<thead>
		<tr>
			{% for th in table.schema.columns %}
			<th {% if table.attributes.sortable %} class="sorting" {% endif %}>{% th.label %}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for tr in table.datas %}
			<tr>
				{% for tr in tr %}
				<td>{% td %}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>